
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
    
}

.card {
    background-color: rgb(228, 209, 187);
    width: 700px;   
}

.btn-close {
  opacity: .000001;   
}


